opencv-python
torch
numpy
streamlit
deepface
ultralytics
scenedetect
sumy  
srt
imageio[ffmpeg]
tensorflow==2.16.2  
tf-keras  
sentence-transformers
vosk
pandas
transformers
scikit-learn
networkx
matplotlib
spacy
langdetect
deep-sort-realtime